/* @import "tailwindcss"; */

.container{
    width: 500px;
    text-align: center;
    margin: 50px auto;
    padding: 20px 0;
    box-shadow: 0px 0px 5px  rgb(0, 0, 0.75);
    border-radius: 5px;
}
.container h3 {
    margin-top: -10px;
    font-style: italic;
}
.btn{
    padding: 10px 15px;
    background-color: #45c445;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    
}
.btn_container{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    
}
.btn_container button{
    background-color: purple;
}
